
/* General Selector */
* {
  font-size: 18px;
  font-family: Helvetica, serif;
}

/* Topline Stripe class 'topLine' */
.topLineBackground {
  background-color: black;
  width: 100%;
  display: flex;
}

.topLine {
  margin: 0 auto;
  width: 960px;
  display: inline-flex;

}

.topLine img {
  margin: auto 0.5rem auto 0.5rem;
  height: 1.5rem;
}

.topLine p {
  text-transform: uppercase;
  margin: 0.66rem 0.5rem 0.66rem 0.5rem;
  color: white;
  font-size: 1rem;
}


/* Header Section */
.headerBackground {
  display: flex;
  background-image: url(./../images/moto.jpeg);
  background-size: cover;
  width: 100%;
  height: 25rem;
}

header {
  width: 960px;
  margin: 0 auto;
}

.headerBanner {
  width: 20rem;
  font-weight: bold;
  background-color: black;
  color: white;
  margin-top: 9rem;
  padding: 2rem 3rem 0.25rem 3rem;
}

.headerBanner h4 {

}

.headerBanner h2 {
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

/* Navigation Bar  */
.navBackground {
  width: 100%;

  background-color: firebrick;
}

#toggle {
  display: none;
}

#midScreenMenu {
  display: none;
}

.midRangeNav{
  display: none;
}

.menu {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.menu a {
  color: white;
  font-family: Helvetica;
  padding: 0.75rem 2rem 0.75rem 2rem;
  flex: 1;
}

/* Item Gallery */
.itemGallery {
  padding-top: 3rem;
  margin: 0 auto;
  width: 960px;
  display: flex;
  justify-content: space-between;
}

.item {
  border: 4px solid black;
  width: 30%;
  height: 15rem;
  text-align: center;
  flex-direction: column;
  display: flex;

}

.item img {
  height: 9rem;
  width: 9rem;
  margin: 2rem auto 2rem auto;
}

.itemName {
  font-family: Helvetica;
  color: white;
  background-color: black;
  align-items: flex-end;
  font-size: 1rem;
  height: 2rem;
  width: 100%;
}

.itemName p {
  margin: 0.5rem auto 0.5rem auto;
}

/* Location Hours class 'locationHours' */
.info {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.infoBlockLocation {
  height: 3rem;
  font-size: 1rem;
  color: white;
  font-family: Helvetica;
  margin: 3rem 9rem auto auto;
  background-color: black;
  width: 35%;
}

.infoBlockLocation p {
margin: 1rem auto 1rem 2rem;
}



.infoBlockHours {
  height: 3rem;
  font-size: 1rem;
  color: white;
  font-family: Helvetica;
  margin: 3rem auto auto 9rem;
  background-color: black;
  width: 35%;

}

.infoBlockHours p {
  margin: 1rem auto 1rem 2rem;
}

.infoData {
  margin: 0 auto;
  width: 960px;
  padding-top: 0.25rem;
  display: flex;
}

#hours {
  margin-left: 490px;
}

/* Footer */
.footerBackground {
  width: 100%;
  height: 5rem;
  background-color: black;
  margin-top: 4rem;
}

footer {
  width: 960px;
  margin: 0 auto;
  display: flex;
  height: 5rem;
}

footer p {
  color: white;
  position: relative;
  top: 2rem;
}

/* Media Queri middle Screen */
@media only screen and (max-width: 1024px) {
  #midScreenMenu {
    display: none;
    cursor: pointer;
    margin: 0 auto;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    color: black;
    display: block;
    padding: 0.75rem 2rem;
  }

  .midRangeNav {
    background-color: firebrick;;
    display: block;
    border-bottom:1px solid #EAEAEB;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    color: white;
    font-family: Helvetica, serif;
    cursor: pointer;
  }

  .midRangeNav:hover {
    background-color: #731818;
  }

  #midScreenMenu:checked + .menu {
    display: block;
    cursor: pointer;
    background-color: white;
    z-index: 1;
  }

  #midScreenMenu:checked + .menu a {
    padding: 0.75rem 2rem;
    text-decoration: none;
    display: block;
  }

  #glasses {
    display: none;
  }

  .item {
    width: 47%;
    margin: 0 auto;
  }

.navBackground {
  background: none;
}

}

/* Media Queri Small screens */
@media only screen and (max-width: 470px) {
  .itemGallery {
    width: 100%;
  }

  #watch {
    display: none;
  }

  .info {
    width: 470px;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .infoData {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }

  .infoBlockLocation {

  }
}